node_modules/
bower_components/
public/
/index.html
/tmp/
/docs/
/dist/
results/
.sass-cache
.env
*.out
optimizer-result.txt
checkstyle-result.xml
obj/
public/assets/css/app.css.map
assets/vendor/ionicons/src
assets/vendor/ionicons/less
assets/vendor/ionicons/scss
assets/vendor/ionicons/png
