doctype html
html
  head
    meta(charset="utf-8")
    title CXUI II | Exploration
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css")
  body
    .header
    #main.main.row
      user-list.user-list(v-bind:items="items")
    .footer
    script(src="http://chancejs.com/chance.min.js")
    script(src="/scripts/vendor.bundle.js")
    script.
      (function() {
        var env = {debug: #{DEBUG}};

        requirejs.config({
          baseUrl: "/scripts",
          paths: {
            "templates": "/templates"
          }
        });

        define("env", [], function() {
          return env;
        });

        function loaded() {
          console.log("loaded");
        }

        require(["app"], loaded);
      })();
